body {
  margin: 0;
  align-items: center;
  background-color: #f7f8fa;
  font-family: 'Yu Gothic';
  overflow-x: hidden;
}
h2 {
  text-shadow: 1px 1px 2px gray;
  color:rgb(116, 32, 32);
}
h3 { text-shadow: 0.5px 0.5px 2px lightgray; }
h2, h3 { margin: 10px 0px; }
p {
  margin: 0px;
  padding: 5px 0px;
}
a { color: rgb(116, 32, 32); }
a:hover { color: red; }
ul { margin: 0; }
ul ul { padding-left: 20px; }
details { padding: 5px;}
details summary:hover { color: rgb(116, 32, 32);}
details[open] { background-color: #f0f0f0;}
hr { border-top: 1px dotted gray; }

.disabled { color: gray; }

.container {
  width: 900px;
  margin: auto;
}
.flex-box {
  display: flex;
  justify-content: space-between;
}

.header {
  background-color: rgb(116, 32, 32);
  text-align: center;
  color: white;
}
.tag {
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0px 5px;
  background-color: rgb(241, 216, 216);
  color: rgb(116, 32, 32);
}

#sticky-header {
  position: sticky;
  top: 0;
  z-index: 10;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px gray;
}
#menu-bar {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
#menu-bar a {
  text-decoration: none;
  color: rgb(241, 216, 216);
  font-weight: normal;
}
.menu {
  height: 30px;
  width: 200px;
  margin-bottom: 0;
}
.enabled {
  cursor: pointer;
  transition:
    1s background-color ease 0s,
    1s color ease 0s;
}
.enabled:hover {
  color: white;
  background-color: rgb(175, 49, 49);
}

.icon-btn {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: rgb(116, 32, 32);
  color: white;
  box-shadow: 1.5px 2px 3px gray;
  font-size: 16px;
  transition:
    background 0.5s ease 0s,
    color 0.5s ease 0s;
}
.icon-btn:hover {
  background: rgb(241, 216, 216);
  color: rgb(116, 32, 32);
}

#skills {
  display: flex;
  gap: 5px 10px;
  flex-wrap: wrap;
}
.skill {
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
  background: #fafafa;
  position: relative;
}

.section {
  margin: 10px;
  padding: 5px 15px 15px 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 2px 10px lightgray;
}
.section p {
  padding-inline-start: 10px;
}
.section2 {
  box-shadow: 0.5px 1px 5px lightgray;
  background-color: rgb(241, 216, 216);
}
.description {
  margin-bottom: 15px;
}
.inner-section { padding-left: 10px; }

.carousel {
  position: relative;
  width: 490px;
  height: 250px;
  overflow: hidden;
}
.slides {
  display: flex;
  transition: transform 0.5s ease;
}
.slide {
  min-width: 390px;
  min-height: 250px;
  padding: 0px 50px;
}
.slide .section {
  transition: background-color 0.5s ease 0s;
}
.slide .section:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.prev { left: 10px; }
.next { right: 10px; }
.prev, .next {
  background-color: rgb(241, 216, 216);
  color: rgb(116, 32, 32);
}

.target-section:target {
  scroll-margin-top: 50px;
  animation: flash 1.5s ease;
}
@keyframes flash {
  0%   { background-color: lightgray; }
  100% { background-color: white; }
}

.skill-popup {
  position: relative;
  display: inline-block;
  padding: 5px;
  color: rgb(116, 32, 32);
}
.skill-popup:hover { color: black; }
.toggle { display:none; }
label {
  cursor: pointer;
  text-decoration: underline;
}
.popup-content {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background: rgb(241, 216, 216);
  border: 1px solid #ccc;
  padding: 10px 25px 10px 5px;
  border-radius: 10px;
  z-index: 10;
  white-space: nowrap;
  color: black;
}
.toggle:checked + label + .popup-content {
  display: block;
}

#sticky-toc {
  position: sticky;
  top: 50px;
  text-align: right;
  margin-top: -10px;
  padding-right: 25px;
}
.toc-area {
  position: relative;
  display: inline-block;
}
.toc-panel {
  position: absolute;
  top: 0;
  right: 100%;
  width: 200px;
  margin-right: 30px;
  text-align: left;

  opacity: 0;
  transform: translateX(10px);
  pointer-events: none;
  transition: opacity .2s ease, transform .2s ease;
}
.toc-panel li {
}
#sticky-toc.open .toc-panel {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}
